<nav>
    <ul>
        <% if(user) { %>
            <li style="margin-right: auto; font-size: 1.2em; font-weight: bold;">
                <span style="color: #9b59b6;">📚</span> Cookbook
            </li>
            <li><a href="/recipes">All Recipes</a></li>
            <li><a href="/recipes/new">New Recipe</a></li>
            <li><a href="/ingredients">Ingredients</a></li>
            <li><a href="/auth/sign-out">Sign Out</a></li>
        <% } else { %>
            <li style="margin-right: auto; font-size: 1.2em; font-weight: bold;">
                <span style="color: #9b59b6;">📚</span> Cookbook
            </li>
            <li><a href="/auth/sign-up">Sign Up</a></li>
            <li><a href="/auth/sign-in">Sign In</a></li>
        <% } %>
    </ul>
</nav>